In [1]:
import io
import os
import openpyxl
import msoffcrypto
import pandas as pd

from openpyxl import load_workbook
from flask_sqlalchemy import SQLAlchemy
from werkzeug.utils import secure_filename
from sqlalchemy import create_engine, text
from flask import Flask, request, render_template, redirect, url_for, session

from urllib.parse import quote 

from package import StatementProcessor

In [2]:
def create_db_engine():
    try:
        engine=create_engine(app.config['SQLALCHEMY_DATABASE_URI'])
        print(engine)
        return engine

    except Exception as e:
        print(f"Error creating database engine: {str(e)}")
        return None
processor=StatementProcessor(create_engine('mysql+pymysql://rbpadmin:%s@10.12.215.45:3306/prpdb_prod' % quote('rbp0rt@l1')))

In [3]:
decrypted_workbook=io.BytesIO()
filepath=r'C:\Users\10038394B\Desktop\project5v2\uploads\Telesales_Cross_Selling-RBIF_FY2324.xlsx'


df, lst_sheet, f=processor.read_insx_file(filepath, decrypted_workbook)

In [4]:

data=pd.read_excel(decrypted_workbook, sheet_name='Sep23', engine='openpyxl')

In [5]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-01 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,No,Cost Centre,EmpID,EmpName,Position,REGION,...,Payout Date,Gap to pay 4,Payout Date,Gap to pay 5,Payout Date,NaN,Remarks,Staff Status as at 31 Jul 2023\n(Effective Date),Last Date Worked,Remark

In [6]:
f

'C:\\Users\\10038394B\\Desktop\\project5v2\\uploads\\Telesales_Cross_Selling-RBIF_FY2324.xlsx'

In [7]:
insg_to_insx=processor.read_insx_config(f, '1')
insg_to_insx

Executing SQL query: SELECT * FROM insg_statement_config WHERE insg_calculation_file_name='Telesales Cross Selling-RBIF FY2324' AND insg_cycle='1'

{'insg_position': '',
 'insg_channel_code': 'MDS',
 'insg_calculation_file_name': 'Telesales Cross Selling-RBIF FY2324',
 'insg_cycle': '1',
 'insg_src_file': 'TS-CS',
 'insg_incx_code': 'KPI_CS',
 'insg_table_src': 'insx_ts_xls_new',
 'insg_sp': '_INC_INSX_TELE_INST_NEW',
 'insg_xls_start_row': 5,
 'insg_month_start': '2304',
 'insg_month_end': None,
 'insg_uploader_id': None,
 'insg_owner_id': None}

In [8]:
processed_data=processor.process_data(data, insg_to_insx, 'Sep23', 'Q2', '2309')

5 insx_no insx_cost_centre insx_staff_id            insx_position  \
0       1         0188831D      10041379  Telesales-Cross Selling
1       2         0188831D      10041438  Telesales-Cross Selling
2       3         0188831D      10041455  Telesales-Cross Selling
3       4         0188831D      10041518  Telesales-Cross Selling
4       5         0188831D      10041605  Telesales-Cross Selling

5 insx_bcut_code   insx_bcsb_code    insx_service_date insx_staff_status  \
0  Cross Selling  Cross Selling 1  2023-03-01 00:00:00            Active
1  Cross Selling  Cross Selling 1  2023-03-13 00:00:00            Active
2  Cross Selling  Cross Selling 1  2023-03-13 00:00:00            Active
3  Cross Selling  Cross Selling 1  2023-04-03 00:00:00            Active
4  Cross Selling  Cross Selling 1  2023-04-11 00:00:00            Active

5 insx_set_name  RP_MORT_EXE  ...  insx_total_final_payout  \
0           NaN          0.0  ...                  1492.10
1           NaN          0.0  ...                  2597.55
2           NaN          0.0  ...                  5824.75
3           NaN          0.0  ...                  2460.63
4           NaN          0.0  ...                  2633.77

5        insx_pay_date  insx_deduct  insx_rec_amount  insx_amt_aug  \
0  2023-10-31 00:00:00          0.0              0.0           NaN
1  2023-10-31 00:00:00          0.0              0.0           NaN
2  2023-10-31 00:00:00          0.0              0.0           NaN
3  2023-10-31 00:00:00          0.0              0.0           NaN
4  2023-10-31 00:00:00          0.0              0.0           NaN

5  insx_rem_aug  insx_month  insx_cycle  insx_version  insx_src_file
0           NaN        2309          Q2                        TS-CS
1           NaN        2309          Q2                        TS-CS
2           NaN        2309          Q2                        TS-CS
3           NaN        2309          Q2                        TS-CS
4           NaN        2309          Q2                        TS-CS

[5 rows x 59 columns]
TRUE

C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.rename(columns=self.params_cols, inplace=True)
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[self.params_cols[col]]=None
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[self.params_cols[col]]=None
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[self.params_cols[col]]=None
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[self.params_cols[col]]=None
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[cols]=df_filtered[cols].astype(float)
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['insx_month']=self.params['insx_month']
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['insx_cycle']=self.params['insx_cycle']
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['insx_version']=self.params['insx_version']
C:\Users\10038394B\Desktop\project5v2\package\StatementProcessor.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['insx_src_file']=insg_to_insx['insg_src_file']

In [9]:
processed_data

5,insx_no,insx_cost_centre,insx_staff_id,insx_position,insx_bcut_code,insx_bcsb_code,insx_service_date,insx_staff_status,insx_set_name,RP_MORT_EXE,...,insx_total_final_payout,insx_pay_date,insx_deduct,insx_rec_amount,insx_amt_aug,insx_rem_aug,insx_month,insx_cycle,insx_version,insx_src_file
0,1,0188831D,10041379,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-03-01 00:00:00,Active,NaN,0.0,...,1492.10,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
1,2,0188831D,10041438,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-03-13 00:00:00,Active,NaN,0.0,...,2597.55,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
2,3,0188831D,10041455,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-03-13 00:00:00,Active,NaN,0.0,...,5824.75,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
3,4,0188831D,10041518,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-04-03 00:00:00,Active,NaN,0.0,...,2460.63,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
4,5,0188831D,10041605,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-04-11 00:00:00,Active,NaN,0.0,...,2633.77,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
5,6,0188831D,10041624,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-04-11 00:00:00,Active,NaN,0.0,...,0.00,NaN,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
6,7,0188831D,10041635,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-04-11 00:00:00,Active,NaN,0.0,...,0.00,NaN,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
7,8,01888371,10041710,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-05-22 00:00:00,Active,NaN,0.0,...,0.00,NaN,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
8,9,0188831D,10041845,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-06-12 00:00:00,Active,NaN,0.0,...,3335.10,2023-10-31 00:00:00,0.0,31.04,31.04,CLI,2309,Q2,,TS-CS
9,10,0188831D,10041886,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-06-21 00:00:00,Active,NaN,0.0,...,1450.64,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
10,11,0188831D,10041911,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-06-26 00:00:00,Active,NaN,0.0,...,949.18,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
11,12,0188831D,10042049,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-08-11 00:00:00,Active,NaN,0.0,...,2326.42,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
12,13,0188831D,10042056,Telesales-Cross Selling,Cross Selling,Cross Selling 1,2023-08-11 00:00:00,Active,NaN,0.0,...,7280.63,2023-10-31 00:00:00,0.0,0.00,NaN,NaN,2309,Q2,,TS-CS
14,1,0188831D,10041409,SM-Cross Selling,Cross Selling,Cross Selling 1,NaN,Active,NaN,0.0,...,3076.94,2023-10-31 00:00:00,0.0,1.92,1.92,CLI,2309,Q2,,TS-CS
16,1,0188831D,10032724,HOS-Cross Selling,Cross Selling,NaN,NaN,Active,HOS-Cross Selling,0.0,...,1282.06,2023-10-31 00:00:00,0.0,0.80,0.80,CLI,2309,Q2,,TS-CS